@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    background: white;
    padding-top: 170px;
}

nav {
    background: #064ee0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 100px;
    position: fixed;
    right: 0;
    width: 90%;
    top: 60px;
    z-index: 43;
}

nav .nav-items li a {
    color: white;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 600;
}

nav .nav-items a:hover {
    color: #66cc33;
}

nav .nav-items {
    display: flex;
    flex: 1;
    list-style: none;
    padding: 0 0 0 40px;
}

nav .nav-items li {
    padding: 0 15px;
}


.logo-image {
    height: 55px;
    max-width: 100%;
}

.cart-image {
    max-height: 80px;
}

nav form {
    display: flex;
    flex: 0.1;
    min-width: flex;
    height: 40px;
    z-index: 43;
}

nav form input {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-size: 16px;
}

.header {
    height: 60px;
    background: white;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 50;
}


.account-text {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: white;
    position: fixed;
    right: 50px;
    top: 27px;
}

.account-text:hover {
    color: #66cc33;
}

.content p{
    line-height: 300px; /* Create scrollbar to test positioning */
}

.footer{
    bottom: -300px;
    width: 100%;
    position: relative;        
    background: #064ee0;
    padding: 10px 0;
    color: #fff;
}

.footer-container {
    width: 80%;
    margin: 0 auto;
}

.header-box {
    background: #064ee0;
    position: fixed;
    height: 60px;
    width: 300px;
    right: 0px;
}

.buynow-image {
    height: 50px;
    width: 180px;
    z-index: 9;
    left: 140px;
    top: -170px;
    position: relative;
}

.homepage-header {
    height: 500px;
    width: 1400px;
    margin: auto;
    z-index: 8;
}

.image-header {
    height: 500px;
    width: 1400px;
    margin: auto;
    background: black;
}

.animals-header-background {
    width: 100%;
    height: 200px;
    background: #66cc33;
    text-align: center;
}

.animal-list-logo {
    height: 150px;
    width: 115px;
    min-width: 50px;
    min-height: 60px;
    padding-left: 100px;
    padding-top: 25px;
    background: #66cc33;
}

/*All cart related items template for all pages*/

ul {
    list-style: none;
    padding: 0 1em;
    margin-left: 0; }
  
  a:link,
  a:visited,
  a:hover,
  a:active,
  a:focus {
    text-decoration: none;
    transition: all 0.3s; }
  
  button {
    transition: all 0.3s; }
  
  .display-title {
    font-size: 1.8rem;
    text-align: center;
    letter-spacing: 1.3px; }
    @media (min-width: 600px) {
      .display-title {
        font-size: 3rem; } }
  
  .page-title {
    text-align: center;
    font-weight: 700; }
    @media (min-width: 600px) {
      .page-title {
        font-size: 2rem;
        font-weight: 300; } }
  
  .text-light {
    color: #efefef; }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: 1em;
    grid-row-gap: 2em; }
  
  .header .arrow {
    width: 50px;
    height: 50px;
    position: relative;
    margin: -200px auto 0;
    text-align: center;
    border-radius: 50%;
    background-color: #daed0e;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5); }
    .header .arrow svg {
      margin-top: 15px;
      fill: #333; }
  
  .header .header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; }
  
  .header .header__cart .header__submenu .shopping-cart-container {
    position: absolute;
    top: 150px;
    right: 20px;
    padding: 1em;
    background-color: #fff;
    z-index: 2;
    transform: scale(0);
    transform: translatey(-10px);
    opacity: 0;
    pointer-events: none;
    border: 1px solid #111 }
    .header .header__cart .header__submenu .shopping-cart-container.open {
      animation: fade-down 0.3s forwards;
      pointer-events: auto; }
  
  .header .header__cart .header__submenu .cart {
    fill: #fff;
    display: inline-block;
    margin-right: 2px;
    cursor: pointer; }
  
  .header .header__cart .header__cart-btn {
    background-color: transparent;
    border: 2px solid #fff;
    padding: 0.8em;
    font-size: 1rem;
    border-radius: 5px; 
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 600; }
    .header .header__cart .header__cart-btn:hover, .header .header__cart .header__cart-btn:focus {
      border: 3px solid #fff; }
  
  .header .header__cart .header__submenu {
    font-size: 0.8rem;
    font-weight: 700; }
  
  .header .header__cart .header__submenu .shopping-cart-container {
    text-align: center;
    min-width: 400px;
    font-family: "Montserrat", sans-serif; }
  
  .header .header__cart .header__submenu .shopping-cart-container table {
    width: 100%;
    padding: 0.5em;
    padding-bottom: 2em;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 2.5em; }
  
  .header .header__cart .header__submenu .shopping-cart-container table thead th {
    padding-bottom: 10px;
    border-bottom: 1px solid #111; }
  
  .header .header__cart .header__submenu .shopping-cart-container table tbody {
    padding-bottom: 4em; }
  
  .header .header__cart .header__submenu .shopping-cart-container table tbody td {
    padding: 0.5em; }
  
  .header .header__cart .header__submenu .cart-image {
    max-width: 120px; }
  
  .header .header__cart .header__submenu .remove {
    text-align: center;
    width: 120px;
    height: 120px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: #064ee0;
    color: #fff;
    transition: background-color 0.3s ease-out; }
  
  .header .header__cart .header__submenu .remove:hover,
  .header .header__cart .header__submenu .remove:focus {
    background-color: #053492; }
  
  .header .header__cart .header__submenu .cart-btn {
    display: block;
    margin-bottom: 10px;
    padding: 0.3em;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    color: #333;
    border: 1px solid #111; }
    .header .header__cart .header__submenu .cart-btn:hover, .header .header__cart .header__submenu .cart-btn:focus {
      background-color: #064ee0;
      color: #fff; }
  
  .header .header__submenu .total-container {
    text-align: center; }
  
  .header .header__submenu .total-container .total {
    font-weight: bold;
    font-size: 1.3em; }
  
  .header .header__title {
    font-family: "Rammetto One", cursive;
    font-size: 2rem;
    color: #ea332a; }
  
  .header .header__subtitle {
    font-size: 1.2rem;
    display: block;
    margin-top: -10px;
    line-height: 0.9;
    margin-left: 20px; }
  
  .header .header__main {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right bottom, rgba(234, 51, 42, 0.7), rgba(170, 37, 30, 0.7)), url(https://images.unsplash.com/photo-1504670073073-6123e39e0754?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=5a5a75419e84813c91b906d3fc38a4b8);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%); }
  
  .page-content {
    margin-top: 150px; }
  
  .card {
    line-height: 1;
    transition: all 0.3s; }
  
  .card__title,
  .card__price {
    font-weight: bold; }
  
  .card__title {
    font-size: 1.1rem; }
  
  .card__text {
    display: inline-block;
    padding: 0.5em;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0;
    color: #333;
    background-color: #daed0e; }

  
  @keyframes point-down {
    100% {
      transform: translatey(20px); } }
  
  @keyframes fade-down {
    80% {
      opacity: 1;
      visibility: visible;
      transform: translatey(20px);
      transform: scale(1.3);
      animation-timing-function: cubic-bezier(0, 1, 0.75, 0); }
    100% {
      opacity: 1;
      transform: translatey(0);
      transform: scale(1);
      animation-timing-function: ease-in; } }
  
tbody tr {
    height: 80px;
}

/* JQuery Animation */

.support {
    background: black;
    height: 200px;
    width: 500px;
}

.at-item {
    color: #3079ed;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 80px;
    position: relative;
    text-align: center;
}

